body{
  background-color: white !important;
}


.App {
  text-align: center;
}



.brand{
  font-weight: bold;
  font-size: 28px !important;
}

.bar{
  background-color: rgb(40, 40, 43);
 
}

.element{
  font-weight: bold;
  color: white !important;
  padding-left: 14px !important;
  padding-right: 14px !important;
}

.element:hover{
  color: rgb(2, 117, 216) !important;
}


.footcol{
  background-color: rgb(40, 40, 43) !important;
 

  color: white;
  
}

.hrcol{
  color: white !important;
}

.align{
  text-align: left;
}

.footcol2{
  background-color:rgb(229, 229, 229) ;
}


.cartcol{
  background-color: white;
  width: 55px !important;
  height: 32px;
  border-radius: 30px;
  
}


.navcol{
  background-color: rgb(229, 229, 229);

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* .fixed{
  position: fixed !important;
} */